<?xml version="1.0" encoding="UTF-8"?>
<settings version="2">
    <section id="general" label="Skin Sync Settings">
        <category id="connection" label="30001">
            <group id="ssh" label="30002">
                <setting id="ssh_username" type="string" label="30003" default="root">
                    <level>0</level>
                    <default>root</default>
                    <control type="edit" format="string"/>
                </setting>
                <setting id="network_prefix" type="string" label="30004" default="">
                    <level>1</level>
                    <default></default>
                    <control type="edit" format="string"/>
                    <help>30005</help>
                </setting>
            </group>
        </category>
        <category id="devices" label="30010">
            <group id="paired" label="30011">
                <setting id="view_paired" type="action" label="30012">
                    <level>0</level>
                    <control type="button" format="action"/>
                    <data action="RunScript(script.skinsync, view_paired)"/>
                </setting>
                <setting id="remove_paired" type="action" label="30013">
                    <level>0</level>
                    <control type="button" format="action"/>
                    <data action="RunScript(script.skinsync, remove_paired)"/>
                </setting>
            </group>
        </category>
        <category id="advanced" label="30020">
            <group id="setup" label="30021">
                <setting id="reset_keys" type="action" label="30022">
                    <level>2</level>
                    <control type="button" format="action"/>
                    <data action="RunScript(script.skinsync, reset_keys)"/>
                    <help>30023</help>
                </setting>
            </group>
        </category>
    </section>
</settings>
